<% title "Posts" %>

<p><%= link_to "New Post", new_post_path %></p>

<hr />


<% for post in @posts %>

	<div class="post">
		
		<h2><%= link_to post.title, post%></h2>
		
		<p class="content">			
			<%= post.content.html_safe %>
			<br /><br />
			<%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>
		</p>
		
	</div>	

<% end %>