<% title "Post" %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div class="thumb">
	<% for asset in @post.assets %>
		
		<%= link_to image_tag(asset.asset.url(:thumb)), asset.asset.url(:original) %>
		
	<% end %>
</div>	

<p>
  <%= link_to "Edit", edit_post_path(@post) %> |
  <%= link_to "Destroy", @post, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", posts_path %>
</p>
